<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="../static/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/navbar.css" rel="stylesheet">
    <link href="../static/css/footer.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="../static/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js"></script>

    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-toggleable-md navbar-light">
            <div class="navbar-header">
                <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbar1">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="../static/arrow-logo-black.png" height="50" width="40"/>
                    Clik Recruitment
                </a>

            </div>
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="nav navbar-nav ml-auto">
                    {% if g.user.is_authenticated %}
                    <li role="presentation" class="nav-item">
                        <a class="nav-link" href="/userhome">Home</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link" href="/logout">Log out</a>
                    </li>

                    {% endif %}
                    {% if not g.user.is_authenticated %}
                    <li role="presentation" class="nav-item">
                        <a class="nav-link" href="/login">Log in</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link" href="/signup">Sign up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <hr/>

        <div id="main" class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-primary" role="alert">
                    {% for message in messages %}
                    <p class="mb-0">{{ message }}</p>
                    {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

        <hr/>
        <footer class="footer">
            <div class="center">
                <p>FIND TOP TALENT:</p>
                <p><a href="http://www.clikrecruit.se" target="_blank"><kbd>Ctrl</kbd></a>+<a href="http://www.clikrecruit.se" target="_blank"><kbd>Clik</kbd></a>+<a href="http://www.clikrecruit.se" target="_blank"><kbd>Recruit</kbd></a></p>
            </div>
        </footer>

    </div>
</body>
</html>