{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-sm-4 col-align-self-center">
        <form action="" method=post class="form-signin">
            <h2 class="form-signin-heading">Sign up</h2>
            <label for="email" class="sr-only">Email address</label>
            <input type="text" id="email" name="email" class="form-control"
                   placeholder="Enter your email address" value="{{ request.form.email }}"
                   required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control"
                   placeholder="Enter password" value="{{ request.form.password }}"
                   required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>

        </form>
    </div>
</div>
{% endblock %}