{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="col">
        <h1>Welcome Home!</h1>
        <p>Here be dragons</p>
        <div class="card border-dark text-center p-4" style="width: 20rem;">
            <div class="card-body text-dark">
                <h4 class="card-title">Probability</h4>
                <p class="card-text">Test your skills in probability theory!</p>
                <div class="btn-group-vertical" role="group">
                    <a href="/prob/" class="btn btn-primary">Complete 10 questions</a>
                    <a href="/results" class="btn btn-secondary">Show results</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
